.sidebar-wrapper {
    display          : flex;
    position         : fixed;
    top              : 0;
    left             : 0;
    bottom           : 0;
    flex-direction   : column;
    width            : 240px;
    min-height       : 100vh;
    overflow-y       : auto;
    transition       : all 0.4s ease-in-out;
    background-color : $sideBarBG;
    box-shadow       : 2px 0 2px -2px rgba(0, 0, 0, 0.24);
    z-index          : 10000;
}

.sidebar-wrapper.open { left : 0; }

.sidebar-section {
    padding        : 12px 24px;
    display        : flex;
    flex-direction : column;
}

.sidebar-sublink {
    color       : rgba($colorShade, 1);
    font-weight : 400;
    margin      : 4px 0 0 24px;
    // font-size   : 92%;
}

@media (max-width : 900px) {
    .sidebar-wrapper {
        left    : -300px;
        z-index : 4000;
    }
}
