.ff-form-unit > .ff-input:focus ~ label,
.ff-form-inline-group .ff-input:focus ~ label,
.ff-form-unit-group > .ff-input:focus ~ label {
    font-weight : bold;
}

.ff-form-unit > label,
.ff-form-unit-group > label {
    flex          : 1 0 100%;
    position      : relative;
    align-self    : flex-start;
    margin-bottom : 4px;
    color         : $colorShade;
    order         : -1;
}

.ff-input:required ~ label::before {
    position  : absolute;
    top       : -4px;
    bottom    : 0;
    right     : -12px;
    margin    : auto;
    //content   : " *";
    font-size : 120%;
    color     : $colorRed;
}

.ff-form-unit label span,
.ff-form-unit-group label span {
    display     : inline-flex;
    font-size   : 80%;
    font-weight : normal;
    color       : $inputHelpTextDefaultColor;
    line-height : 1.4;
    opacity     : 0;
    transition  : opacity 0.2s;
}

.ff-form-unit label > span::before,
.ff-form-unit-group label > span::before {
    content : "\2022\0000a0";
}

.ff-form-unit .ff-input:focus ~ label > span,
.ff-form-unit .ff-input:active ~ label > span,
.ff-form-unit-group .ff-input:focus ~ label > span,
.ff-form-unit-group .ff-input:active ~ label > span {
    opacity : 1;
}

.ff-form-unit .ff-input:not(:focus):not(:placeholder-shown) ~ label > span,
.ff-form-unit-group .ff-input:not(:focus):not(:placeholder-shown) ~ label > span {
    color : $inputHelpTextDefaultColor;
}

.ff-form-unit .ff-input:invalid:focus:not(:placeholder-shown) ~ label > span,
.ff-form-unit-group .ff-input:invalid:focus:not(:placeholder-shown) ~ label > span,
.ff-form-unit .ff-input:invalid:not(:focus):not(:placeholder-shown) ~ label > span,
.ff-form-unit-group .ff-input:invalid:not(:focus):not(:placeholder-shown) ~ label > span {
    opacity : 1;
    color   : $inputHelpTextErrorColor;
}
