//  RADIO-BUTTONS  ============================================================
input[type="radio"] { display : none; }


//  The grey outer circle
.ff-radio label::before {
    width         : 16px;
    height        : 16px;
    top           : 4px;
    left          : 0;
    border-radius : 50%;
}

//  The white inner circle
.ff-radio label::after {
    opacity       : 0;
    left          : 4px;
    top           : 8px;
    width         : 8px;
    height        : 8px;
    background    : $colorWhite;
    border-radius : 50%;
}

.ff-radio {
    display      : inline-block;
    margin-right : 24px;
}

.ff-radio:only-of-type { margin-right : 0; }

.ff-radio label {
    display        : inline-block;
    position       : relative;
    font-family    : $fontSans;
    color          : $colorShade;
    cursor         : pointer;
    vertical-align : middle;
    line-height    : 1.1;
}

.ff-radio label { padding-left : 24px; }

.ff-radio    label::before,
.ff-radio    label::after {
    display    : inline-block;
    position   : absolute;
    content    : "";
    transition : all 0.1s ease-out;
}

//  The grey square
.ff-radio    input[type="radio"]:disabled + label::before,
.ff-radio    label::before {
    user-select    : none;
    pointer-events : none;
    background     : $colorGrey-20;
    box-shadow     : 0 2px 8px -2px hsla(0, 0, 0, 0.24) inset;
}

.ff-radio:hover    label::before { background : $colorGrey-30; }

//  The grey square
.ff-radio    label::after { opacity : 0; }

.ff-radio    input[type="radio"]:checked    + label::before { background : $colorHue; }

.ff-radio    input[type="radio"]:checked    + label::after { opacity : 1; }

.ff-radio    input[type="radio"]:disabled            + label,
.ff-radio    input[type="radio"]:disabled:checked    + label  {
    pointer-events : none;
    cursor         : default;
    opacity        : 0.24;
}
