//  CHECKBOX, SWITCH and RADIO BUTTONS  =======================================
input[type="checkbox"] { display : none; }

//  CHECKBOX  =================================================================
//  The grey square
.ff-checkbox label::before {
    position      : absolute;
    height        : 16px;
    width         : 16px;
    top           : 0;
    left          : 0;
    border-radius : 4px;
}

//  The white tick inside
.ff-checkbox label::after {
    position      : absolute;
    height        : 6px;
    width         : 12px;
    left          : 2px;
    top           : 4px;
    border-left   : 2px solid $colorWhite;
    border-bottom : 2px solid $colorWhite;
    transform     : rotate(-45deg);
}


//  TOGGLE SWITCH  ============================================================
//  The grey oblong
.ff-switch label::before {
    position      : absolute;
    top           : 2px;
    left          : 0;
    width         : 24px;
    height        : 12px;
    border-radius : 8px;
    margin-right  : 4px;
}

//  The white inner circle
.ff-switch label::after {
    position      : absolute;
    display       : inline-block;
    width         : 8px;
    height        : 8px;
    left          : 2px;
    top           : 4px;
    background    : $colorWhite;
    border-radius : 50%;
    content       : '';
    transition    : all 0.1s ease-out;
    box-shadow    : 0 2px 4px -2px hsla(0, 0, 0, 0.6);
}

.ff-switch input[type="checkbox"]:checked + label::after { left : 14px; }

.ff-checkbox,
.ff-switch {
    display        : inline-flex;
    flex-direction : row;
    align-items    : center;
    margin-right   : 24px;
}

.ff-checkbox:only-of-type,
.ff-switch:only-of-type { margin-right : 0; }

.ff-checkbox label,
.ff-switch label {
    display     : inline-flex;
    position    : relative;
    font-family : $fontSans;
    color       : $colorShade;
    cursor      : pointer;
    line-height : 1;
    user-select : none;
}

.ff-checkbox label { padding-left : 24px; }

.ff-switch label { padding-left : 32px; }

.ff-checkbox label::before,
.ff-checkbox label::after,
.ff-switch label::before,
.ff-switch label::after {
    display    : inline-flex;
    content    : "";
    transition : all 0.1s ease-out;
}

//  The grey square
.ff-checkbox label::before,
.ff-switch label::before,
.ff-checkbox input[type="checkbox"]:disabled + label::before,
.ff-switch input[type="checkbox"]:disabled + label::before {
    user-select    : none;
    pointer-events : none;
    background     : $colorGrey-20;
    box-shadow     : 0 2px 4px -2px hsla(0, 0, 0, 0.24) inset;
}

.ff-checkbox:hover label::before,
.ff-switch:hover label::before { background : $colorGrey-30; }

//  The grey square
.ff-checkbox label::after { opacity : 0; }

.ff-checkbox input[type="checkbox"]:checked + label::before,
.ff-switch input[type="checkbox"]:checked + label::before { background : $colorHue; }

.ff-checkbox input[type="checkbox"]:checked + label::after { opacity : 1; }

.ff-checkbox input[type="checkbox"]:disabled + label,
.ff-switch input[type="checkbox"]:disabled + label,
.ff-checkbox input[type="checkbox"]:disabled:checked + label,
.ff-switch input[type="checkbox"]:disabled:checked + label {
    pointer-events : none;
    cursor         : default;
    opacity        : 0.24;
}
