.ff-card {
    position : relative;
    width    : 100%;
    height   : auto;
    border   : 1px solid hsla(0, 0%, 0%, 0.04);
}

.ff-card.padding-all-tiny   { padding : 8px; }
.ff-card.padding-all-small  { padding : 16px; }
.ff-card.padding-all-medium { padding : 24px; }
.ff-card.padding-all-large  { padding : 32px; }
.ff-card.padding-all-huge   { padding : 48px; }

@media all and (max-width : 600px) {
    .ff-card[class*="padding"] { padding : 4vmin; }
}
