/*
+-----------------------------------------+
| Label                                   |
+-----------------------------------------+
| ANY INPUT ITEM                          |
+-----------------------------------------+
| Info section                            |
+-----------------------------------------+
*/

/* SUPER PARENT ///////////////////////////////////////////////////////////// */
/* Need this as a common parent to align the left/right icons */
[data-input-wrapper] {
    position : relative;
}


/* PARENT ELEMENT /////////////////////////////////////////////////////////// */
[data-form-item] {
    position              : relative;
    width                 : 100%;
    display               : grid;
    grid-template-rows    : auto auto auto;
    grid-template-columns : 1fr;
    gap                   : 4px;
    grid-template-areas   :
        "label"
        "input"
        "info";
}

/* Hide empty grid areas when there is no label or info section ============= */
[data-form-item]:not(:has(label)) {
    grid-template-areas :
        "input"
        "info";
    grid-template-rows  : auto auto;
}

[data-form-item]:not(:has(.info-section)) {
    grid-template-rows  : auto auto;
    grid-template-areas :
        "label"
        "input";
}

[data-form-item]:not(:has(label)):not(:has(.info-section)) {
    grid-template-areas : "input";
    grid-template-rows  : auto;
}

/* LABEL //////////////////////////////////////////////////////////////////// */
[data-form-item] > label {
    grid-area   : label;
    position    : relative;
    color       : var(--input-label-default);
    font-family : var(--paragraph-font);
    width       : fit-content;
}

[data-form-item][required] > label::after {
    position  : absolute;
    top       : -4px;
    bottom    : 0;
    right     : -12px;
    margin    : auto;
    content   : "*";
    font-size : 120%;
    color     : var(--input-required-indicator);
}

/* INPUT //////////////////////////////////////////////////////////////////// */
[data-form-item][data-input-field],
[data-form-item][data-text-area],
[data-form-item][data-select-wrapper] {
    grid-area : input;
}

/* INFO ///////////////////////////////////////////////////////////////// */
[data-form-item] .info-section {
    grid-area : info;
    flex-wrap : wrap;

    p.help-text,
    p.error-text {
        font-size   : var(--input-helptext-scale);
        font-family : var(--paragraph-font);
    }

    p.help-text {
        color       : var(--input-helptext);
        line-height : 1.12;
    }

    p.error-text { display : none; }

    p:not(:last-of-type) { margin-right : 8px; }
}

[data-form-item] [data-input-field],
[data-form-item] [data-text-area],
[data-form-item] [data-select-wrapper] {
    &:read-only {
        background-color : var(--input-bg-read-only);
        color            : var(--input-text-read-only);
        cursor           : text;

        &:focus {
            border : var(--global-border-width) solid var(--input-border-read-only);
        }
    }

    &:disabled,
    &[disabled] select {
        background-color : var(--input-bg-disabled);
        border-color     : var(--input-border-disabled);
        color            : var(--input-text-disabled);
        cursor           : not-allowed;

        & + label {
            color : var(--input-label-disabled);
        }
    }

    &:not(:disabled) {
        &:focus ~ label {
            font-weight : bold;
        }

        &:invalid:not(:focus):not(:placeholder-shown) ~ .info-section span.error-text {
            display : block;
            color   : var(--input-error-text-invalid);
        }
    }
}

/* DISABLED */
[data-form-item]:has(input:disabled) > label,
[data-form-item]:has(input:disabled) > label::before,
[data-form-item]:has(input:disabled) > label::after {
    filter         : grayscale(24%);
    user-select    : none;
    pointer-events : none;
    cursor         : not-allowed;
    opacity        : 0.64;
}
