//  SELECT DROPDOWN  ==========================================================
.ff-select {
    position   : relative;
    width      : max-content;
    align-self : flex-start;
}

.ff-select select {
    display          : flex;
    height           : 100%;
    padding          : 8px 48px 8px 8px;
    background-color : $inputBG-DefaultColor;
    border           : none;
    border-radius    : 4px;
    font-family      : $fontSans;
    align-items      : center;
    border           : 1px solid #c5ccd3;
    width            : 100%;
}

.ff-select::after {
    position       : absolute;
    display        : block;
    content        : "\2303";
    top            : calc(50% - 18px);
    right          : 12px;
    font-size      : 24px;
    color          : $colorHue;
    line-height    : 1.2;
    border-color   : $colorHue;
    z-index        : 500;
    pointer-events : none;
    transform      : rotate(180deg);
}