[data-button] {
    position            : relative;
    cursor              : pointer;
    font-family         : ${(props : ButtonProps) => props.theme.button.font};
    font-weight         : bold;
    font-size           : 92%;
    text-align          : center;
    text-decoration     : none;
    line-height         : 1;
    transition          : all 0.2s ease-in-out;
    background-position : center;
    user-select         : none;
}

/*To make sure a button’s children don’t style themselves like a d-bag*/
> * { all : unset; }

:root {
    --opacity: 0.4;
    --bg-color: rgba(hsla(0, 84%, 60%, 1), var(--opacity, 1));
}

[data-button]:active {
    box-shadow : none;
    opacity    : 0.72;
}

[data-button].is-loading::after {
    border             : 3px solid;
    border-top-color   : transparent;
    border-right-color : transparent;
}

/* Common disabled styles /////////////////////////////////////////////////// */
[data-button][disabled] {
    box-shadow     : none;
    user-select    : none;
    pointer-events : none;
    opacity        : 0.4;
    filter         : grayscale(100%);
    cursor         : not-allowed;
}

/* PRIMARY BUTTON /////////////////////////////////////////////////////////// */
[data-button].primary {
    /* DEFAULT STATE ======================================================== */
    background-color : var(--button-primary-default-bg);
    color            : var(--button-primary-default-text);
    border           : solid var(--button-primary-default-border-colour);
    border-width     : var(--button-primary-default-border-width);
    border-radius    : var(--button-primary-default-border-radius);

    /* HOVER STATE ========================================================== */
    &:hover {
        background-color : var(--button-primary-hover-bg);
        color            : var(--button-primary-hover-text);
        border           : solid var(--button-primary-hover-border-colour);
        border-width     : var(--button-primary-hover-border-width);
        border-radius    : var(--button-primary-hover-border-radius);
    }

    /* CLICKED STATE ======================================================== */
    &:active {
        background-color : var(--button-primary-hover-bg);
        color            : var(--button-primary-hover-text);
        border           : solid var(--button-primary-hover-border-colour);
        border-width     : var(--button-primary-hover-border-width);
        border-radius    : var(--button-primary-hover-border-radius);
    }

    /* LOADING STATE ======================================================== */
    &.is-loading::after {
        border             : 3px solid var(--button-primary-loading-spinner-colour);
        border-top-color   : transparent;
        border-right-color : transparent;
    }

    /* DISABLED STATE ======================================================= */
    &[disabled] {
        background-color : var(--button-primary-disabled-bg);
        color            : var(--button-primary-disabled-text);
        border           : solid var(--button-primary-disabled-border-colour);
        border-width     : var(--button-primary-disabled-border-width);
        border-radius    : var(--button-primary-disabled-border-radius);
    }
}

/* SECONDARY BUTTON ///////////////////////////////////////////////////////// */
[data-button].secondary {
    /* DEFAULT STATE ======================================================== */
    background-color : var(--button-secondary-default-bg);
    color            : var(--button-secondary-default-text);
    border           : solid var(--button-secondary-default-border-colour);
    border-width     : var(--button-secondary-default-border-width);
    border-radius    : var(--button-secondary-default-border-radius);

    /* HOVER STATE ========================================================== */
    &:hover {
        background-color : var(--button-secondary-hover-bg);
        color            : var(--button-secondary-hover-text);
        border           : solid var(--button-secondary-hover-border-colour);
        border-width     : var(--button-secondary-hover-border-width);
        border-radius    : var(--button-secondary-hover-border-radius);
    }

    /* CLICKED STATE ======================================================== */
    &:active {
        background-color : var(--button-secondary-hover-bg);
        color            : var(--button-secondary-hover-text);
        border           : solid var(--button-secondary-hover-border-colour);
        border-width     : var(--button-secondary-hover-border-width);
        border-radius    : var(--button-secondary-hover-border-radius);
    }

    /* LOADING STATE ======================================================== */
    &.is-loading::after {
        border             : 3px solid var(--button-secondary-loading-spinner-colour);
        border-top-color   : transparent;
        border-right-color : transparent;
    }

    /* DISABLED STATE ======================================================= */
    &[disabled] {
        background-color : var(--button-secondary-disabled-bg);
        color            : var(--button-secondary-disabled-text);
        border           : solid var(--button-secondary-disabled-border-colour);
        border-width     : var(--button-secondary-disabled-border-width);
        border-radius    : var(--button-secondary-disabled-border-radius);
    }
}

/* TERTIARY BUTTON ////////////////////////////////////////////////////////// */
[data-button].tertiary {
    /* DEFAULT STATE ======================================================== */
    background-color : var(--button-tertiary-default-bg);
    color            : var(--button-tertiary-default-text);
    border           : solid var(--button-tertiary-default-border-colour);
    border-width     : var(--button-tertiary-default-border-width);
    border-radius    : var(--button-tertiary-default-border-radius);

    /* HOVER STATE ========================================================== */
    &:hover {
        background-color : var(--button-tertiary-hover-bg);
        color            : var(--button-tertiary-hover-text);
        border           : solid var(--button-tertiary-hover-border-colour);
        border-width     : var(--button-tertiary-hover-border-width);
        border-radius    : var(--button-tertiary-hover-border-radius);
    }

    /* CLICKED STATE ======================================================== */
    &:active {
        background-color : var(--button-tertiary-hover-bg);
        color            : var(--button-tertiary-hover-text);
        border           : solid var(--button-tertiary-hover-border-colour);
        border-width     : var(--button-tertiary-hover-border-width);
        border-radius    : var(--button-tertiary-hover-border-radius);
    }

    /* LOADING STATE ======================================================== */
    &.is-loading::after {
        border             : 3px solid var(--button-tertiary-loading-spinner-colour);
        border-top-color   : transparent;
        border-right-color : transparent;
    }

    /* DISABLED STATE ======================================================= */
    &[disabled] {
        background-color : var(--button-tertiary-disabled-bg);
        color            : var(--button-tertiary-disabled-text);
        border           : solid var(--button-tertiary-disabled-border-colour);
        border-width     : var(--button-tertiary-disabled-border-width);
        border-radius    : var(--button-tertiary-disabled-border-radius);
    }
}

/* DIFFERENT SIZES ////////////////////////////////////////////////////////// */
/*TODO: Revisit font-size different sizes*/
&.size-tiny {
    padding   : 4px 8px;
    font-size : 64%;
}

&.size-small {
    padding   : 6px 12px;
    font-size : 80%;
}

&.size-large {
    padding   : 16px 32px;
    font-size : 128%;
}

&.size-huge {
    padding   : 24px 40px;
    font-size : 160%;
}


/* ROUND BUTTON ///////////////////////////////////////////////////////////// */
[data-button].shape-circular {
    width         : var(--button-round-size-medium);
    height        : var(--button-round-size-medium);
    padding       : 0 !important;
    border-radius : 50%;
    font-size     : 16px;
}

[data-button].shape-circular.size-tiny {
    width     : var(--button-round-size-tiny);
    height    : var(--button-round-size-tiny);
    padding   : 0;
    font-size : 8px;
}

[data-button].shape-circular.size-small {
    width     : var(--button-round-size-small);
    height    : var(--button-round-size-small);
    padding   : 0;
    font-size : 12px;
}

[data-button].shape-circular.size-large {
    width     : var(--button-round-size-large);
    height    : var(--button-round-size-large);
    padding   : 0;
    font-size : 24px;
}

[data-button].shape-circular.size-huge {
    width     : var(--button-round-size-huge);
    height    : var(--button-round-size-huge);
    padding   : 0;
    font-size : 32px;
}

[data-button].shape-circular img {
    position : absolute;
    margin   : auto;
    left     : 0;
    top      : 0;
    bottom   : 0;
    right    : 0;
}

/* BUTTON WITH SPINNER ////////////////////////////////////////////////////// */
&.is-loading {
    color          : transparent !important;
    box-shadow     : none;
    user-select    : none;
    pointer-events : none;
}

&.is-loading::after {
    display            : block;
    position           : absolute;
    margin             : auto;
    left               : 0;
    top                : 0;
    bottom             : 0;
    right              : 0;
    height             : 16px;
    width              : 16px;
    border-radius      : 50%;
    content            : "";
    border             : 3px solid;
    border-color       : var(--button-primary-loading-spinner-colour);
    border-top-color   : transparent;
    border-right-color : transparent;
    -webkit-animation  : spinner 0.4s infinite linear;
    animation          : spinner 0.4s infinite linear;
}

&.size-tiny.is-loading::after,
&.size-small.is-loading::after {
    height : 8px;
    width  : 8px;
}

@keyframes spinner {
    from { transform : rotate(0deg); }
    to { transform : rotate(359deg); }
}
