[data-toast-item] {
    position         : relative;
    display          : flex;
    width            : fit-content;
    height           : fit-content;
    border-radius    : var(--toast-border-radius);
    background-color : var(--toast-bg);
    transition       : all 0.4s;
    padding          : 8px 16px;

    p { color : var(--toast-text); }

    /* TOP TOAST //////////////////////////////////////////////////////////// */
    [data-toasts-wrapper].top & {
        transform : translateY(-8vh);
    }

    [data-toasts-wrapper].top &.visible {
        transform : translateY(8vh);
    }

    /* BOTTOM TOAST ///////////////////////////////////////////////////////// */
    [data-toasts-wrapper].bottom & {
        transform : translateY(8vh);
    }

    [data-toasts-wrapper].bottom &.visible {
        transform : translateY(-8vh);
    }
}
