[data-form-item-group] {
    display   : flex;
    flex-wrap : wrap;
    width     : 100%;

    input {
        align-self : flex-end;
    }

    & > [data-form-item] {
        flex           : 1 1 0;
        flex-direction : column;
        margin-bottom  : 24px;
    }

    & > label {
        flex  : 1 1 100%;
        order : -1;
    }

    &.spacing-none > [data-form-item]:not(:last-of-type) { margin-right : 0; }
    &.spacing-nano > [data-form-item]:not(:last-of-type) { margin-right : 8px; }
    &.spacing-micro > [data-form-item]:not(:last-of-type) { margin-right : 12px; }
    &.spacing-tiny > [data-form-item]:not(:last-of-type) { margin-right : 16px; }
    &.spacing-small > [data-form-item]:not(:last-of-type) { margin-right : 24px; }
    &.spacing-medium > [data-form-item]:not(:last-of-type) { margin-right : 32px; }
    &.spacing-large > [data-form-item]:not(:last-of-type) { margin-right : 40px; }
    &.spacing-huge > [data-form-item]:not(:last-of-type) { margin-right : 48px; }

    &.is-joint {
        & > [data-form-item] {
            margin-right : 0;

            &:first-of-type input, select, textarea {
                border-top-right-radius    : 0;
                border-bottom-right-radius : 0;
            }

            &:not(:first-of-type):not(:last-of-type) input, select, textarea {
                border-radius : 0;
            }

            &:last-of-type input, select, textarea {
                border-top-left-radius    : 0;
                border-bottom-left-radius : 0;
            }
        }
    }

    @media screen and (max-width : 520px) {
        &:not(.retain-layout) > [data-form-item] {
            flex         : 1 1 auto;
            margin-right : 0 !important;
        }

        /*TODO: Add retainLayout prop for all breakpoints*/
        &:not(.retain-layout) > [data-form-item]:not(:last-child) {
            margin-bottom : 16px;
        }
    }
}
