$colors : (
    "red"       : "0, 84%",
    "salmon"    : "9, 100%",
    "orange"    : "30, 92%",
    "amber"     : "40, 97%",
    "yellow"    : "50, 100%",
    "spring"    : "65, 80%",
    "pistachio" : "78, 54%",
    "green"     : "148, 50%",
    "teal"      : "174, 62%",
    "cyan"      : "176, 78%",
    "sky"       : "194, 97%",
    "blue"     : "212, 100%",
    "indigo"    : "237, 66%",
    "violet"    : "258, 55%",
    "purple"    : "311, 47%",
    "pink"      : "336, 96%",
    "crimson"   : "340, 64%",
    "brick"     : "0, 68%",
    "sienna"    : "15, 56%",
    "brown"     : "24, 34%",
    "slate"     : "209, 12%",
    "grey"      : "0, 0%",
);

$class-prefixes : (
    "bg": "background-color",
    "text": "color",
    "stroke": "stroke",
    "fill": "fill",
    "border": "border-color"
);

//:root {
//    @each $color, $value in $colors {
//        --base-#{$color}: #{$value};
//    }
//}

:root {
    @each $color, $value in $colors {
        --base-#{$color}: #{$value};
    }
}

:root {
    @each $color, $value in $colors {
        @for $i from 1 through 9 {
            @if $i < 5 {
                --palette-#{$color}-dark-#{5 - $i}0: #{$value}, #{$i}0%;
            } @else if $i > 5 {
                --palette-#{$color}-light-#{$i - 5}0: #{$value}, #{$i}0%;
            } @else if $i == 5 {
                --palette-#{$color}: #{$value}, #{$i}0%;
            }
        }
    }
}

:root {
    @each $color, $value in $colors {
        @for $i from 1 through 9 {
            @if $i < 5 {
                --#{$color}-dark-#{5 - $i}0: hsl(var(--palette-#{$color}-dark-#{5 - $i}0));
            } @else if $i > 5 {
                --#{$color}-light-#{$i - 5}0: hsl(var(--palette-#{$color}-light-#{$i - 5}0));
            } @else if $i == 5 {
                --#{$color}: hsl(var(--palette-#{$color}));
            }
        }
    }
}

@each $prefix, $css-property in $class-prefixes {
    @each $color, $value in $colors {
        @for $i from 1 through 9 {
            @if $i < 5 {
                .#{$prefix}-#{$color}-dark-#{5 - $i}0 {
                    #{$css-property}: var(--#{$color}-dark-#{5 - $i}0);
                }
            } @else if $i > 5 {
                .#{$prefix}-#{$color}-light-#{$i - 5}0 {
                    #{$css-property}: var(--#{$color}-light-#{$i - 5}0);
                }
            } @else if $i == 5 {
                .#{$prefix}-#{$color} {
                    #{$css-property}: var(--#{$color});
                }
            }
        }
    }
}







:root {
    --black       : hsla(0, 0%, 0%, 1);
    --white       : hsla(0, 0%, 100%, 1);
    --transparent : hsla(0, 0%, 100%, 0);
}

.bg-white { background-color : hsla(0, 0%, 100%, 1); }
.text-white { color : hsla(0, 0%, 100%, 1); }
.border-white { border : 2px solid hsla(0, 0%, 100%, 1); }
.fill-white { fill : hsla(0, 0%, 100%, 1); }
.stroke-white { stroke : hsla(0, 0%, 100%, 1); }

.bg-black { background-color : hsla(0, 0%, 0%, 1); }
.text-black { color : hsla(0, 0%, 0%, 1); }
.border-black { border : 2px solid hsla(0, 0%, 0%, 1); }
.fill-black { fill : hsla(0, 0%, 0%, 1); }
.stroke-black { stroke : hsla(0, 0%, 0%, 1); }

.bg-transparent { background-color : transparent; }
.text-transparent { color : transparent; }
.border-transparent { border : 2px solid transparent; }
.fill-transparent { fill : transparent; }
.stroke-transparent { stroke : transparent; }
