.portion.\31\/24 { grid-column : span 1; }

.portion.one-twelfth,
.portion.\32\/24 { grid-column : span 2; }

.portion.one-eighth,
.portion.\33\/24 { grid-column : span 3; }

.portion.one-sixth,
.portion.\34\/24 { grid-column : span 4; }

.portion.\35\/24 { grid-column : span 5; }

.portion.one-fourth,
.portion.\36\/24 { grid-column : span 6; }

.portion.\37\/24 { grid-column : span 7; }

.portion.one-third,
.portion.\38\/24 { grid-column : span 8; }

.portion.\39\/24 { grid-column : span 9; }

.portion.five-twelfth,
.portion.\0000310\/24 { grid-column : span 10; }

.portion.\0000311\/24 { grid-column : span 11; }

.portion.half,
.portion.\0000312\/24 { grid-column : span 12; }

.portion.\0000313\/24 { grid-column : span 13; }

.portion.seven-twelfth,
.portion.\0000314\/24 { grid-column : span 14; }

.portion.\0000315\/24 { grid-column : span 15; }

.portion.two-third,
.portion.\0000316\/24 { grid-column : span 16; }

.portion.\0000317\/24 { grid-column : span 17; }

.portion.three-fourth,
.portion.\0000318\/24 { grid-column : span 18; }

.portion.\0000319\/24 { grid-column : span 19; }

.portion.five-sixth,
.portion.\0000320\/24 { grid-column : span 20; }

.portion.seven-eighth,
.portion.\0000321\/24 { grid-column : span 21; }

.portion.eleven-twelfth,
.portion.\0000322\/24 { grid-column : span 22; }

.portion.\0000323\/24 { grid-column : span 23; }

.portion.whole,
.portion.\0000324\/24 { grid-column : span 24; }

@media all and (max-width : 600px) {

    .row:not(.retain-layout-on-mobile) > .portion:not([class*='on-mobile']) { grid-column : span 24; }

    .portion.\31\/24-on-mobile { grid-column : span 1; }

    .portion.one-twelfth-on-mobile,
    .portion.\32\/24-on-mobile { grid-column : span 2; }

    .portion.one-eighth-on-mobile,
    .portion.\33\/24-on-mobile { grid-column : span 3; }

    .portion.one-sixth-on-mobile,
    .portion.\34\/24-on-mobile { grid-column : span 4; }

    .portion.\35\/24-on-mobile { grid-column : span 5; }

    .portion.one-fourth-on-mobile,
    .portion.\36\/24-on-mobile { grid-column : span 6; }

    .portion.\37\/24-on-mobile { grid-column : span 7; }

    .portion.one-third-on-mobile,
    .portion.\38\/24-on-mobile { grid-column : span 8; }

    .portion.\39\/24-on-mobile { grid-column : span 9; }

    .portion.five-twelfth-on-mobile,
    .portion.\0000310\/24-on-mobile { grid-column : span 10; }

    .portion.\0000311\/24-on-mobile { grid-column : span 11; }

    .portion.half-on-mobile,
    .portion.\0000312\/24-on-mobile { grid-column : span 12; }

    .portion.\0000313\/24-on-mobile { grid-column : span 13; }

    .portion.seven-twelfth-on-mobile,
    .portion.\0000314\/24-on-mobile { grid-column : span 14; }

    .portion.\0000315\/24-on-mobile { grid-column : span 15; }

    .portion.two-third-on-mobile,
    .portion.\0000316\/24-on-mobile { grid-column : span 16; }

    .portion.\0000317\/24-on-mobile { grid-column : span 17; }

    .portion.three-fourth-on-mobile,
    .portion.\0000318\/24-on-mobile { grid-column : span 18; }

    .portion.\0000319\/24-on-mobile { grid-column : span 19; }

    .portion.five-sixth-on-mobile,
    .portion.\0000320\/24-on-mobile { grid-column : span 20; }

    .portion.seven-eighth-on-mobile,
    .portion.\0000321\/24-on-mobile { grid-column : span 21; }

    .portion.eleven-twelfth-on-mobile,
    .portion.\0000322\/24-on-mobile { grid-column : span 22; }

    .portion.\0000323\/24-on-mobile { grid-column : span 23; }

    .portion.whole-on-mobile,
    .portion.\0000324\/24-on-mobile { grid-column : span 24; }
}

@media all and (min-width : 601px) and (max-width : 900px) {
    .row:not(.retain-layout-on-tab-pt) > .portion:not([class*='on-tab-pt']) { grid-column : span 24; }

    .portion.\31\/24-on-tab-pt { grid-column : span 1; }

    .portion.one-twelfth-on-tab-pt,
    .portion.\32\/24-on-tab-pt { grid-column : span 2; }

    .portion.one-eighth-on-tab-pt,
    .portion.\33\/24-on-tab-pt { grid-column : span 3; }

    .portion.one-sixth-on-tab-pt,
    .portion.\34\/24-on-tab-pt { grid-column : span 4; }

    .portion.\35\/24-on-tab-pt { grid-column : span 5; }

    .portion.one-fourth-on-tab-pt,
    .portion.\36\/24-on-tab-pt { grid-column : span 6; }

    .portion.\37\/24-on-tab-pt { grid-column : span 7; }

    .portion.one-third-on-tab-pt,
    .portion.\38\/24-on-tab-pt { grid-column : span 8; }

    .portion.\39\/24-on-tab-pt { grid-column : span 9; }

    .portion.five-twelfth-on-tab-pt,
    .portion.\0000310\/24-on-tab-pt { grid-column : span 10; }

    .portion.\0000311\/24-on-tab-pt { grid-column : span 11; }

    .portion.half-on-tab-pt,
    .portion.\0000312\/24-on-tab-pt { grid-column : span 12; }

    .portion.\0000313\/24-on-tab-pt { grid-column : span 13; }

    .portion.seven-twelfth-on-tab-pt,
    .portion.\0000314\/24-on-tab-pt { grid-column : span 14; }

    .portion.\0000315\/24-on-tab-pt { grid-column : span 15; }

    .portion.two-third-on-tab-pt,
    .portion.\0000316\/24-on-tab-pt { grid-column : span 16; }

    .portion.\0000317\/24-on-tab-pt { grid-column : span 17; }

    .portion.three-fourth-on-tab-pt,
    .portion.\0000318\/24-on-tab-pt { grid-column : span 18; }

    .portion.\0000319\/24-on-tab-pt { grid-column : span 19; }

    .portion.five-sixth-on-tab-pt,
    .portion.\0000320\/24-on-tab-pt { grid-column : span 20; }

    .portion.seven-eighth-on-tab-pt,
    .portion.\0000321\/24-on-tab-pt { grid-column : span 21; }

    .portion.eleven-twelfth-on-tab-pt,
    .portion.\0000322\/24-on-tab-pt { grid-column : span 22; }

    .portion.\0000323\/24-on-tab-pt { grid-column : span 23; }

    .portion.whole-on-tab-pt,
    .portion.\0000324\/24-on-tab-pt { grid-column : span 24; }
}

@media all and (min-width : 901px) and (max-width : 1200px) {
    //.row:not(.retain-layout-on-tab-ls) > .portion:not([class*='on-tab-ls']) { grid-column : span 24; }

    .portion.\31\/24-on-tab-ls { grid-column : span 1; }

    .portion.one-twelfth-on-tab-ls,
    .portion.\32\/24-on-tab-ls { grid-column : span 2; }

    .portion.one-eighth-on-tab-ls,
    .portion.\33\/24-on-tab-ls { grid-column : span 3; }

    .portion.one-sixth-on-tab-ls,
    .portion.\34\/24-on-tab-ls { grid-column : span 4; }

    .portion.\35\/24-on-tab-ls { grid-column : span 5; }

    .portion.one-fourth-on-tab-ls,
    .portion.\36\/24-on-tab-ls { grid-column : span 6; }

    .portion.\37\/24-on-tab-ls { grid-column : span 7; }

    .portion.one-third-on-tab-ls,
    .portion.\38\/24-on-tab-ls { grid-column : span 8; }

    .portion.\39\/24-on-tab-ls { grid-column : span 9; }

    .portion.five-twelfth-on-tab-ls,
    .portion.\0000310\/24-on-tab-ls { grid-column : span 10; }

    .portion.\0000311\/24-on-tab-ls { grid-column : span 11; }

    .portion.half-on-tab-ls,
    .portion.\0000312\/24-on-tab-ls { grid-column : span 12; }

    .portion.\0000313\/24-on-tab-ls { grid-column : span 13; }

    .portion.seven-twelfth-on-tab-ls,
    .portion.\0000314\/24-on-tab-ls { grid-column : span 14; }

    .portion.\0000315\/24-on-tab-ls { grid-column : span 15; }

    .portion.two-third-on-tab-ls,
    .portion.\0000316\/24-on-tab-ls { grid-column : span 16; }

    .portion.\0000317\/24-on-tab-ls { grid-column : span 17; }

    .portion.three-fourth-on-tab-ls,
    .portion.\0000318\/24-on-tab-ls { grid-column : span 18; }

    .portion.\0000319\/24-on-tab-ls { grid-column : span 19; }

    .portion.five-sixth-on-tab-ls,
    .portion.\0000320\/24-on-tab-ls { grid-column : span 20; }

    .portion.seven-eighth-on-tab-ls,
    .portion.\0000321\/24-on-tab-ls { grid-column : span 21; }

    .portion.eleven-twelfth-on-tab-ls,
    .portion.\0000322\/24-on-tab-ls { grid-column : span 22; }

    .portion.\0000323\/24-on-tab-ls { grid-column : span 23; }

    .portion.whole-on-tab-ls,
    .portion.\0000324\/24-on-tab-ls { grid-column : span 24; }
}
