.info-panel {
    display          : flex;
    position         : fixed;
    top              : 0;
    right            : -42vw;
    bottom           : 0;
    padding          : 2vw;
    flex-direction   : column;
    max-width        : 40vw;
    min-height       : 100vh;
    overflow-y       : auto;
    transition       : all 0.4s ease-in-out;
    background-color : white;
    box-shadow       : 4px 0 24px -16px rgba(0, 0, 0, 0.24);
    z-index          : 10000;
    border-left      : 1px solid rgba($colorFadedMing, 0.16);
}

.info-panel.open { right : 0; }
