.ff-form-unit > label,
.ff-form-unit-group > label {
    position      : relative;
    display       : flex;
    flex          : 1 0 100%;
    align-self    : flex-start;
    margin-bottom : 4px;
    color         : $colorShade;
    order         : -1;
}

.ff-form-unit > .ff-input:focus ~ label,
.ff-form-inline-group .ff-input:focus ~ label,
.ff-form-unit-group > .ff-input:focus ~ label { font-weight : bold; }

.ff-input:required ~ label::before {
    position  : absolute;
    top       : -4px;
    bottom    : 0;
    left      : -14px;
    margin    : auto;
    content   : " *";
    font-size : 120%;
    color     : $colorRed;
}

.ff-form-unit label span,
.ff-form-unit-group label span {
    font-size   : 80%;
    font-weight : normal;
    color       : $inputHelpTextDefaultColor;
    //line-height : 1.4;
    display     : none;
    align-self  : center;
    transition  : opacity 0.2s;
}

//  The bullet after the label value
.ff-form-unit label > span::before,
.ff-form-unit-group label > span::before { content : "\0000a0\2022\0000a0"; }

.ff-form-unit .ff-input:focus ~ label > span.ff-input-help,
.ff-form-unit .ff-input:active ~ label > span.ff-input-help,
.ff-form-unit-group .ff-input:focus ~ label > span.ff-input-help,
.ff-form-unit-group .ff-input:active ~ label > span.ff-input-help { display : inline-flex; }

.ff-form-unit .ff-input:not(:focus):not(:placeholder-shown) ~ label > span.ff-input-help,
.ff-form-unit-group .ff-input:not(:focus):not(:placeholder-shown) ~ label > span.ff-input-help { color : $inputHelpTextDefaultColor; }

.ff-form-unit .ff-input:invalid:focus:not(:placeholder-shown) ~ label > span.ff-input-error,
.ff-form-unit-group .ff-input:invalid:focus:not(:placeholder-shown) ~ label > span.ff-input-error,
.ff-form-unit .ff-input:invalid:not(:focus):not(:placeholder-shown) ~ label > span.ff-input-error,
.ff-form-unit-group .ff-input:invalid:not(:focus):not(:placeholder-shown) ~ label > span.ff-input-error {
    display : inline-flex;
    color   : $inputHelpTextErrorColor;
}
