[data-card] {
    position : relative;
    width    : 100%;
}

[data-card][class*="border-"] { border-width : var(--global-border-width); }

[data-card]:not([class*="border-"]) { border : var(--global-border-width) solid var(--slate); }

[data-card]:not([class*="bg-"]) { background-color : var(--white); }

[data-card].shape-rounded { border-radius : var(--global-border-radius); }

[data-card].padding-all-tiny   { padding :  8px; }
[data-card].padding-all-small  { padding : 16px; }
[data-card].padding-all-medium { padding : 32px; }
[data-card].padding-all-large  { padding : 48px; }
[data-card].padding-all-huge   { padding : 64px; }

@media all and (max-width : 600px) {
    [data-card][class*="padding"] { padding : 4vmin; }

    .padding-none { padding : 0 !important; }
}
