[data-sidebar-footer] {
    display          : grid;
    position         : sticky;
    width            : 100%;
    align-self       : end;
    order            : 1;
    bottom           : 0;
    left             : 0;
    margin           : auto 0 0;
    background-color : var(--sidebar-footer-bg);
    border-top       : 1px solid var(--sidebar-footer-border-top);
}
