/* For calculating padding, based on side element widths */
:root {
    --side-element-left-width  : 0px;
    --side-element-right-width : 0px;
    --side-element-padding     : 4px;
}

/* BASE INPUT FIELD ///////////////////////////////////////////////////////// */
input[data-input-field] {
    position         : relative;
    width            : 100%;
    flex             : 1 1 auto;
    font-family      : var(--paragraph-font);
    color            : var(--input-text-default);
    background-color : var(--input-bg-default);
    border           : var(--input-border-width-default) solid var(--input-border-default);
    border-radius    : var(--input-border-radius-default);
    line-height      : 1;
    padding-top      : var(--input-padding);
    padding-bottom   : var(--input-padding);

    ::placeholder {
        color   : var(--input-placeholder-default);
        opacity : 1; /* For Firefox */
    }

    ::-ms-input-placeholder {
        color : var(--input-placeholder-default);
    }

    &:active,
    &:focus {
        background-color : var(--input-bg-focus);
        border           : var(--input-border-width-focus) solid var(--input-border-focus);
        color            : var(--input-text-focus);
    }

    &[type=password] { letter-spacing : 4px; }

    &[type=password]:placeholder-shown { letter-spacing : unset; }

    /* Grey check mark ====================================================== */
    &.validate-this {
        padding-right       : 40px;
        background-image    : url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+ICA8cG9seWxpbmUgcG9pbnRzPSIzLjUgMTIuNSA4LjUgMTcuNSAyMC41IDUuNSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTJlMmUyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIgb3BhY2l0eT0iMC40Ii8+PC9zdmc+");
        background-repeat   : no-repeat;
        background-position : right 12px top 56%;
        background-size     : var(--input-icon-size);

        &:focus {
            background-position : right 11px top 56%;
        }
    }

    /* Green check mark ===================================================== */
    &.validate-this:valid:not(:placeholder-shown) {
        background-image : url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+ICA8cG9seWxpbmUgcG9pbnRzPSIzLjUgMTIuNSA4LjUgMTcuNSAyMC41IDUuNSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMGVjMDVjIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIvPjwvc3ZnPg==);
    }

    /* Red cross ============================================================ */
    &:invalid:not(:focus):not(:placeholder-shown) {
        color               : var(--input-text-invalid);
        border              : var(--global-border-width) solid var(--input-border-invalid);
        background-color    : var(--input-bg-invalid);
        background-image    : url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+ICA8bGluZSB4MT0iNi41IiB5MT0iMTcuNSIgeDI9IjE4LjUiIHkyPSI1LjUiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2VmNDM0MyIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBzdHJva2Utd2lkdGg9IjIiLz4gIDxsaW5lIHgxPSI2LjUiIHkxPSI1LjUiIHgyPSIxOC41IiB5Mj0iMTcuNSIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZWY0MzQzIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS13aWR0aD0iMiIvPjwvc3ZnPg==);
        background-repeat   : no-repeat;
        background-position : 98%;
        background-size     : var(--input-icon-size);
    }
}

/* INPUT HELPER ///////////////////////////////////////////////////////////// */
/* This is what renders the left/right icons or text */
[data-input-helper] {
    position              : absolute;
    inset                 : 0;
    width                 : 100%;
    padding               : calc(var(--input-padding) - (var(--global-border-width)*2));
    pointer-events        : none;
    display               : grid;
    grid-template-rows    : 1fr;
    grid-template-columns :
        minmax(var(--side-element-left-width), auto) 1fr minmax(var(--side-element-right-width), auto);
    grid-template-areas   : "leftElement spaceForInput rightElement";
    align-items           : center;
    justify-content       : space-between;
}

[data-input-side-element] {
    line-height : 0;
    white-space : nowrap;

    &.is-text {
        &.left { min-width : var(--side-element-left-width); }
        &.right { min-width : var(--side-element-right-width); }
    }

    &.is-icon {
        width        : var(--input-icon-size);
        height       : var(--input-icon-size);
        fill         : none;
        stroke-width : 2px;
    }
}

[data-input-side-element].left { grid-area : leftElement; }
[data-input-side-element].right { grid-area : rightElement; }

/* PADDING LEFT SIDE ======================================================== */
/* Padding when there is no icon or text ------------------------------------ */
[data-form-item]:has([data-input-helper]:empty) [data-input-field],
[data-form-item]:has([data-input-side-element].left:empty) [data-input-field] {
    padding-left : 12px;
}

/* Padding when there is an icon on the left -------------------------------- */
[data-form-item]:has([data-input-side-element].left.is-icon:not(:empty)) [data-input-field] {
    padding-left : 48px;
}

/* Padding when there is text on the left ----------------------------------- */
[data-form-item]:has([data-input-side-element].left.is-text) [data-input-field] {
    padding-left : calc(var(--side-element-left-width) + var(--side-element-padding) * 2);
}

/* PADDING RIGHT SIDE ======================================================= */
/* Padding when there is no icon or text ------------------------------------ */
[data-form-item]:has([data-input-helper]:empty) [data-input-field],
[data-form-item]:has([data-input-side-element].right:empty) [data-input-field] {
    padding-right : 12px;
}

/* Padding when there is an icon on the right ------------------------------- */
[data-form-item]:has([data-input-side-element].right.is-icon:not(:empty)) [data-input-field] {
    padding-right : 48px;
}

/* Padding when there is text on the right ---------------------------------- */
[data-form-item]:has([data-input-side-element].right.is-text) [data-input-field] {
    padding-right : calc(var(--side-element-right-width) + var(--side-element-padding) * 2);
}


/* THEME //////////////////////////////////////////////////////////////////// */
/* DEFAULT ================================================================== */
/* Left text default state -------------------------------------------------- */
[data-form-item]:has(input[data-input-field]) [data-input-side-element].left.is-text {
    color : var(--input-inner-text-left-default);
}

/* Right text default state ------------------------------------------------- */
[data-form-item]:has(input[data-input-field]) [data-input-side-element].right.is-text {
    color : var(--input-inner-text-right-default);
}

/* Left icon default state -------------------------------------------------- */
[data-form-item]:has(input[data-input-field]) [data-input-side-element].left.is-icon {
    stroke : var(--input-inner-icon-left-default);
}

/* Right icon default state ------------------------------------------------- */
[data-form-item]:has(input[data-input-field]) [data-input-side-element].right.is-icon {
    stroke : var(--input-inner-icon-right-default);
}


/* FOCUS ==================================================================== */
/* Left text focus state ---------------------------------------------------- */
[data-form-item]:has(input[data-input-field]:focus) [data-input-side-element].left.is-text {
    color : var(--input-inner-text-left-focus);
}

/* Right text focus state --------------------------------------------------- */
[data-form-item]:has(input[data-input-field]:focus) [data-input-side-element].right.is-text {
    color : var(--input-inner-text-right-focus);
}

/* Left icon focus state ---------------------------------------------------- */
[data-form-item]:has(input[data-input-field]:focus) [data-input-side-element].left.is-icon {
    stroke : var(--input-inner-icon-left-focus);
}

/* Right icon focus state --------------------------------------------------- */
[data-form-item]:has(input[data-input-field]:focus) [data-input-side-element].right.is-icon {
    stroke : var(--input-inner-icon-right-focus);
}

/* DISABLED ================================================================= */
/* Left text disabled state ------------------------------------------------- */
[data-form-item]:has(input[data-input-field]:disabled) [data-input-side-element].left.is-text {
    color : var(--input-inner-text-left-disabled);
}

/* Right text disabled state ------------------------------------------------ */
[data-form-item]:has(input[data-input-field]:disabled) [data-input-side-element].right.is-text {
    color : var(--input-inner-text-right-disabled);
}

/* Left icon disabled state ------------------------------------------------- */
[data-form-item]:has(input[data-input-field]:disabled) [data-input-side-element].left.is-icon {
    color : var(--input-inner-icon-left-disabled);
}

/* Right icon disabled state ------------------------------------------------ */
[data-form-item]:has(input[data-input-field]:disabled) [data-input-side-element].right.is-icon {
    color : var(--input-inner-icon-right-disabled);
}
