hr {
    border           : 0;
    height           : 1px;
    margin           : 4vmax auto;
    width            : 100%;
    background-color : $colorSlate-20;
}

//  Side margins for all your content
hr.side-margin-tiny {
    width: calc(100% - 8vw);
}

hr.side-margin-small {
    width: calc(100% - 16vw);
}

hr.side-margin-medium {
    width: calc(100% - 24vw);
}

hr.side-margin-large {
    width: calc(100% - 36vw);
}

hr.side-margin-huge {
    width: calc(100% - 48vw);
}

@media all and (max-width : 600px) {
    hr[class*="side-margin-"] {
        width: calc(100% - 12vw);
    }
}

hr.thick { height : 4px; }
hr.slim  { height : 2px; }
