hr {
    border : 0;
    width  : 100%;
    height : var(--hr-default-height);

    &:not([class*="bg-"]) {
        background-color : var(--hr-default-bg);
    }

    &.side-margin-nano { width : calc(100% - (var(--nano) * 2)); }
    &.side-margin-micro { width : calc(100% - (var(--micro) * 2)); }
    &.side-margin-tiny { width : calc(100% - (var(--tiny) * 2)); }
    &.side-margin-small { width : calc(100% - (var(--small) * 2)); }
    &.side-margin-medium { width : calc(100% - (var(--medium) * 2)); }
    &.side-margin-large { width : calc(100% - (var(--large) * 2)); }
    &.side-margin-huge { width : calc(100% - (var(--huge) * 2)); }

    @media all and (min-width : 2400px) {
        &.side-margin-nano { width : calc(100% - (var(--nano) * 4)); }
        &.side-margin-micro { width : calc(100% - (var(--micro) * 4)); }
        &.side-margin-tiny { width : calc(100% - (var(--tiny) * 4)); }
        &.side-margin-small { width : calc(100% - (var(--small) * 4)); }
        &.side-margin-medium { width : calc(100% - (var(--medium) * 4)); }
        &.side-margin-large { width : calc(100% - (var(--large) * 2.4)); }
        &.side-margin-huge { width : calc(100% - (var(--huge) * 2.4)); }
    }

    @media all and (max-width : 1600px) {
        &.side-margin-tiny { width : calc(100% - 4vw); }
        &.side-margin-small { width : calc(100% - 8vw); }
        &.side-margin-medium { width : calc(100% - 16vw); }
        &.side-margin-large { width : calc(100% - 24vw); }
        &.side-margin-huge { width : calc(100% - 32vw); }
    }

    @media all and (max-width : 1200px) {
        &.side-margin-tiny { width : calc(100% - 4vw); }
        &.side-margin-small { width : calc(100% - 8vw); }
        &.side-margin-medium { width : calc(100% - 12vw); }
        &.side-margin-large { width : calc(100% - 16vw); }
        &.side-margin-huge { width : calc(100% - 20vw); }
    }

    @media all and (max-width : 600px) {
        &[class*="side-margin-"] {
            width : calc(100% - 12vw);
        }
    }

    &.primary {
        background-color : var(--hr-primary-bg);
        height           : var(--hr-primary-height);
    }

    &.secondary {
        background-color : var(--hr-secondary-bg);
        height           : var(--hr-secondary-height);
    }

    &.tertiary {
        background-color : var(--hr-tertiary-bg);
        height           : var(--hr-tertiary-height);
    }
}
