li[data-breadcrumb-item] {
    display   : inline-flex;
    position  : relative;

    &::after {
        position : absolute;
        right    : -16px;
        content  : var(--breadcrumb-item-separator);
        color    : var(--breadcrumb-item-separator-colour);
    }

    &:last-child,
    &:last-child a {
        color : var(--breadcrumb-item-text-active)
    }

    &:not(:last-child) {
        margin-right : 32px;
    }

    &:not(:last-child),
    &:not(:last-child) a {
        color : var(--breadcrumb-item-text);
    }

    &:last-child::after {
        content : "";
    }
}
