[data-range] {
    input[type="range"] {
        cursor             : pointer;
        -webkit-appearance : none;
        appearance         : none;
        width              : 100%;
        background         : transparent;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        background : var(--slate-light-20);
        height     : 1px;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance : none;
        appearance         : none;
        margin-top         : -7px;
        background-color   : var(--range-slider-bg);
        height             : 16px;
        width              : 16px;
        border-radius      : 50%;
    }

    input[type="range"]:focus {
        outline : none;
    }

    input[type="range"]:focus::-webkit-slider-thumb {
        border         : 1px solid var(--range-slider-border-focus);
        outline        : 3px solid var(--range-slider-outline-focus);
        outline-offset : 0.125rem;
    }
}
