.ff-notification-wrapper {
    position   : fixed;
    top        : 0;
    display    : flex;
    width      : 400px;
    height     : 100%;
    z-index    : 50000;
    padding    : 4vh 2vw;
    overflow-y : scroll;
}

.ff-notification-wrapper.left  { left : 0; }
.ff-notification-wrapper.right { right : 0; }

.ff-notification-wrapper.top    { flex-direction: column; }
.ff-notification-wrapper.bottom { flex-direction: column-reverse; }

