[data-sidebar-item-text] {
    margin             : 0;
    overflow           : hidden;
    -webkit-line-clamp : 1;
    font-size          : var(--sidebar-item-text-scale);
    color              : var(--sidebar-item-text-colour-default);
}
