import React from "react";
import { screen } from "@testing-library/react";
import { renderWithWrapper as render } from "../../utils/testUtils";

import { VAR_COMPONENT_NAME } from "./VAR_COMPONENT_NAME";

describe("Testing VAR_COMPONENT_NAME", () => {
    it("should be visible in DOM", async () => {
        render(<VAR_COMPONENT_NAME />);
        const el = screen.getByTestId("VAR_COMPONENT_NAMETest");
        expect(el).toBeVisible();
    });
});
