:root {
    --radius : 8px;
    --border : 4px;
    --speed  : 0.25s;
    --count  : 24;
}

[data-sliding-selector] {
    position              : relative;
    display               : grid;
    grid-auto-flow        : column;
    grid-auto-columns     : 1fr;
    height                : 48px;
    background            : hsl(0 0% 0%);
    border-radius         : var(--radius);
    grid-template-columns : repeat(var(--count), 1fr);
    border                : var(--border) solid hsl(0 0% 0%);

    & > div {
        flex : 1;
    }

    /* RESET THE DEFAULT RADIO BUTTON STYLES */
    input {
        position     : absolute;
        width        : 1px;
        height       : 1px;
        padding      : 0;
        margin       : -1px;
        overflow     : hidden;
        clip         : rect(0, 0, 0, 0);
        white-space  : nowrap;
        border-width : 0;
    }

    label {
        padding                    : 0 clamp(0.5rem, 2vw + 0.25rem, 2rem);
        cursor                     : pointer;
        text-align                 : center;
        height                     : 100%;
        display                    : grid;
        border-radius              : calc(var(--radius) - var(--border));
        place-items                : center;
        color                      : hsl(0 0% 100% / calc(0.5 + var(--highlight, 0)));
        transition                 : background, color;
        transition-duration        : 0.25s;
        transition-timing-function : var(--ease, ease);
    }

    input:checked + label { --highlight : 1; }

    input:not(:checked) + label:hover {
        --highlight : 0.35;
        background  : hsl(0 0% 20%);
    }

    & > div:has(:checked:nth-of-type(1)) { --active : 0; }
    & > div:has(:checked:nth-of-type(2)) { --active : 1; }
    & > div:has(:checked:nth-of-type(3)) { --active : 2; }
    & > div:has(:checked:nth-of-type(4)) { --active : 3; }
    & > div:has(:checked:nth-of-type(5)) { --active : 4; }
    & > div:has(:checked:nth-of-type(6)) { --active : 5; }
    & > div:has(:checked:nth-of-type(7)) { --active : 6; }
    & > div:has(:checked:nth-of-type(8)) { --active : 7; }
    & > div:has(:checked:nth-of-type(9)) { --active : 8; }
    & > div:has(:checked:nth-of-type(10)) { --active : 9; }
    & > div:has(:checked:nth-of-type(11)) { --active : 10; }
    & > div:has(:checked:nth-of-type(12)) { --active : 11; }
    & > div:has(:checked:nth-of-type(13)) { --active : 12; }
    & > div:has(:checked:nth-of-type(14)) { --active : 13; }
    & > div:has(:checked:nth-of-type(15)) { --active : 14; }
    & > div:has(:checked:nth-of-type(16)) { --active : 15; }
    & > div:has(:checked:nth-of-type(17)) { --active : 16; }
    & > div:has(:checked:nth-of-type(18)) { --active : 17; }
    & > div:has(:checked:nth-of-type(19)) { --active : 18; }
    & > div:has(:checked:nth-of-type(20)) { --active : 19; }
    & > div:has(:checked:nth-of-type(21)) { --active : 20; }
    & > div:has(:checked:nth-of-type(22)) { --active : 21; }
    & > div:has(:checked:nth-of-type(23)) { --active : 22; }
    & > div:has(:checked:nth-of-type(24)) { --active : 23; }

    & > div:has(input:nth-of-type(2)) { --count : 2; }
    & > div:has(input:nth-of-type(3)) { --count : 3; }
    & > div:has(input:nth-of-type(4)) { --count : 4; }
    & > div:has(input:nth-of-type(5)) { --count : 5; }
    & > div:has(input:nth-of-type(6)) { --count : 6; }
    & > div:has(input:nth-of-type(7)) { --count : 7; }
    & > div:has(input:nth-of-type(8)) { --count : 8; }
    & > div:has(input:nth-of-type(9)) { --count : 9; }
    & > div:has(input:nth-of-type(10)) { --count : 10; }
    & > div:has(input:nth-of-type(11)) { --count : 11; }
    & > div:has(input:nth-of-type(12)) { --count : 12; }
    & > div:has(input:nth-of-type(13)) { --count : 13; }
    & > div:has(input:nth-of-type(14)) { --count : 14; }
    & > div:has(input:nth-of-type(15)) { --count : 15; }
    & > div:has(input:nth-of-type(16)) { --count : 16; }
    & > div:has(input:nth-of-type(17)) { --count : 17; }
    & > div:has(input:nth-of-type(18)) { --count : 18; }
    & > div:has(input:nth-of-type(19)) { --count : 19; }
    & > div:has(input:nth-of-type(20)) { --count : 20; }
    & > div:has(input:nth-of-type(21)) { --count : 21; }
    & > div:has(input:nth-of-type(22)) { --count : 22; }
    & > div:has(input:nth-of-type(23)) { --count : 23; }
    & > div:has(input:nth-of-type(24)) { --count : 24; }

    & > div::after {
        position                   : absolute;
        pointer-events             : none;
        content                    : "";
        width                      : calc(100% / var(--count));
        height                     : 100%;
        background                 : hsl(0 0% 100%);
        border-radius              : calc(var(--radius) - var(--border));
        mix-blend-mode             : difference;
        translate                  : calc(var(--active, 0) * 100%) 0;
        transition                 : translate, outline-color;
        transition-duration        : var(--speed);
        transition-timing-function : ease-in-out;
        outline                    : 2px solid transparent;
    }

    &:has(:focus-visible)::after {
        outline-color : red;
    }
}
