.ff-breadcrumb-bar {
    display          : flex;
    flex-direction   : row;
    flex-wrap        : wrap;
    align-items      : flex-start;
    padding          : 8px 24px;
    background-color : white;
    box-shadow       : 0 1px 1px -1px rgba(0, 0, 0, 0.08)
}

.ff-breadcrumb-item {
    display      : inline-flex;
    margin-right : 20px;
    position     : relative;
    font-size    : 14px;
    color        : rgba($colorShade, 0.6);
}

.ff-breadcrumb-item::after {
    position : absolute;
    content  : "/";
    right    : -14px;
}

.ff-breadcrumb-item:last-child,
.ff-breadcrumb-item:last-child a { color : rgba($colorShade, 1); }

.ff-breadcrumb-item:not(:last-child),
.ff-breadcrumb-item:not(:last-child) a { color : rgba($colorShade, 0.64); }

.ff-breadcrumb-item:last-child::after { content : ""; }
