[data-code-block] {
    & pre {
        display                : block;
        width                  : 100%;
        max-width              : 100%;
        font-family            : var(--code-font-family);
        color                  : var(--code-block-text);
        font-size              : var(--code-block-font-size);
        line-height            : var(--code-block-line-height);
        font-weight            : 400;
        padding                : 16px 24px;
        background-color       : var(--code-block-bg);
        text-align             : left;
        overflow               : auto;
        direction              : ltr;
        white-space            : pre;
        word-spacing           : normal;
        word-break             : normal;
        letter-spacing         : -0.5px;
        font-variant-ligatures : none;
        -webkit-font-smoothing : subpixel-antialiased;
        -webkit-hyphens        : none;
        -ms-hyphens            : none;
        hyphens                : none;
        border-radius          : var(--code-block-border-radius);
        -moz-tab-size          : 4;
        tab-size               : 4;
    }
    
    @media print {
        & pre[class*="language-"],
        & code[class*="language-"] {
            text-shadow: none;
        }
    }
    /*********************************************************
    * Tokens
    */
    & .token.tag         { color : var(--token-tag) }
    & .token.atrule      { color : var(--token-atrule) }
    & .token.attr-name   { color : var(--token-attrName) }
    & .token.attr-value  { color : var(--token-attrValue) }
    & .token.boolean     { color : var(--token-boolean) }
    & .token.cdata       { color : var(--token-cdata) }
    & .token.class-name  { color : var(--token-className) }
    & .token.comment     { color : var(--token-comment) }
    & .token.constant    { color : var(--token-constant) }
    & .token.deleted     { color : var(--token-deleted) }
    & .token.delimiter   { color : var(--token-delimiter) }
    & .token.doctype     { color : var(--token-doctype) }
    & .token.entity      { color : var(--token-entity) }
    & .token.function    { color : var(--token-function) }
    & .token.hexcode     { color : var(--token-hexcode) }
    & .token.inserted    { color : var(--token-inserted) }
    & .token.keyword     { color : var(--token-keyword) }
    & .token.number      { color : var(--token-number) }
    & .token.operator    { color : var(--token-operator) }
    & .token.plain       { color : var(--token-plain) }
    & .token.prolog      { color : var(--token-prolog) }
    & .token.property    { color : var(--token-property) }
    & .token.punctuation { color : var(--token-punctuation) }
    & .token.regex       { color : var(--token-regex) }
    & .token.selector    { color : var(--token-selector) }
    & .token.string      { color : var(--token-string) }
    & .token.symbol      { color : var(--token-symbol) }
    & .token.url         { color : var(--token-url) }
    & .token.variable    { color : var(--token-variable) }
    
    & .token.namespace { opacity : 0.72; }
    & .token.italic { font-style : italic; }
    
    & pre::selection,
    & code::selection,
    & pre::-moz-selection,
    & code::-moz-selection,
    & pre[class*=language-]::selection,
    & code[class*=language-]::selection,
    & pre[class*=language-]::-moz-selection,
    & code[class*=language-] ::-moz-selection {
        text-shadow : none;
        color       : var(--text-selected);
        background  : var(--text-bg-selected) !important;
    }
    
    & code[class*=language-css],
    & code[class*=language-less],
    & code[class*=language-sass],
    & code[class*=language-scss] {
        color : var(--code-block-prism-css-fallback);
    }
    
    & code[class*=language-html] { color : var(--code-block-prism-html-fallback); }
    
    & code[class*=language-js]   { color : var(--code-block-prism-js-fallback); }
    
    & code[class*=language-json] .token.string {
        color : var(--code-block-prism-json-token-string);
    }
}
