[data-notification-item] {
    position         : relative;
    display          : flex;
    width            : 100%;
    background-color : var(--notification-item-generic-bg);
    border-radius    : var(--notification-item-border-radius);
    border           : 1px solid hsla(0, 0%, 0%, 0.04);
    transition       : all 0.4s;
    box-shadow       : 0 2px 0.2px rgba(0, 0, 0, 0.016),
    0 4px 0.8px rgba(0, 0, 0, 0.024),
    0 6px 2.4px rgba(0, 0, 0, 0.032),
    0 8px 4.8px rgba(0, 0, 0, 0.040),
    0 16px 8.0px rgba(0, 0, 0, 0.056),
    0 24px 16.0px rgba(0, 0, 0, 0.064);

    &::before {
        position      : absolute;
        left          : 0;
        top           : 0;
        width         : 8px;
        height        : 100%;
        content       : "";
        border-radius : 2px 0 0 2px;
    }

    &.info {
        background-color : var(--notification-item-info-bg);
        border           : 1px solid var(--notification-item-info-border);

        ::before { color : var(--notification-item-info-border); }
    }

    &.error {
        background-color : var(--notification-item-error-bg);
        border           : 1px solid var(--notification-item-error-border);

        ::before { color : var(--notification-item-error-border); }
    }

    &.success {
        background-color : var(--notification-item-success-bg);
        border           : 1px solid var(--notification-item-success-border);

        ::before { color : var(--notification-item-success-border); }
    }

    &.warning {
        background-color : var(--notification-item-warning-bg);
        border           : 1px solid var(--notification-item-warning-border);

        ::before { color : var(--notification-item-warning-border); }
    }


    & .notification-content {
        color       : var(--notification-item-generic-text);
        font-size   : 14px;
        line-height : 1.1;
        word-break  : break-word;
        margin      : 0 8px;
    }

    &.dismissible .notification-content { margin : 0 24px 0 8px; }

    & .dismiss-button {
        position : absolute;
        top      : 6px;
        right    : 8px;
        width    : 16px;
        height   : 16px;
        cursor   : pointer;
    }

    & .dismiss-button::before {
        content     : "\00D7";
        font-size   : 24px;
        line-height : 0;
    }

    &.dismissed {
        transform : translateX(100%);
        opacity   : 0;
    }
}
