.row {
    display               : grid;
    width                 : 100%;
    grid-gap              : 16px;
    grid-template-columns : repeat(24, 1fr);
    margin-bottom         : 4vh;
}

.row.no-gutters     { grid-gap: 0; }

//  Side margins for all your content
.content-padding-tiny {
    padding-left  : 4vw;
    padding-right : 4vw;
}

.content-padding-small {
    padding-left  : 8vw;
    padding-right : 8vw;
}

.content-padding-medium {
    padding-left  : 12vw;
    padding-right : 12vw;
}

.content-padding-large {
    padding-left  : 18vw;
    padding-right : 18vw;
}

.content-padding-huge {
    padding-left  : 24vw;
    padding-right : 24vw;
}

@media all and (max-width : 600px) {
    *[class*="content-padding-"] {
        padding-left  : 6vw;
        padding-right : 6vw;
    }
}
