@font-face {
    font-family : "Space Grotesk";
    font-weight : 400;
    font-style  : normal;
    src         : url('../fonts/SpaceGrotesk-Regular.woff') format('woff');
}

@font-face {
    font-family : "Space Grotesk";
    font-weight : 600;
    font-style  : normal;
    src         : url('../fonts/SpaceGrotesk-Bold.woff') format('woff');
}

.sample-code { white-space : initial; }

#transparent-card {
    background-image: linear-gradient(45deg,#ccc 25%,transparent 0),linear-gradient(-45deg,#ccc 25%,transparent 0),linear-gradient(45deg,transparent 75%,#ccc 0),linear-gradient(-45deg,transparent 75%,#ccc 0);
    background-size: 20px 20px;
    background-position: 0 0,0 10px,10px -10px,-10px 0;
}
