@font-face {
    font-family : "Space Grotesk";
    font-weight : 400;
    font-style  : normal;
    src         : url('../fonts/SpaceGrotesk-Regular.woff') format('woff');
}

@font-face {
    font-family : "Space Grotesk";
    font-weight : 600;
    font-style  : normal;
    src         : url('../fonts/SpaceGrotesk-Bold.woff') format('woff');
}

.sample-code { white-space : initial; }
