textarea[data-textarea] {
    position         : relative;
    width            : 100%;
    height           : 100%;
    flex             : 1 1 auto;
    font-family      : var(--paragraph-font);
    color            : var(--input-text-default);
    background-color : var(--input-bg-default);
    border           : 1px solid var(--input-border-default);
    border-radius    : var(--input-border-radius-default);
    padding          : 12px;
    line-height      : var(--paragraph-line-height);
    min-width        : 100%;
    max-width        : 100%;
    resize           : vertical;

    &:active,
    &:focus {
        background-color : var(--input-bg-focus);
        border           : 2px solid var(--input-border-focus);
        padding          : 11px;
    }
}

.help-text-wrapper { display : inline-block; }

.limit-normal { color : inherit; }

.limit-warning { color : var(--textarea-limit-warning); }

.limit-exceeded { color : var(--textarea-limit-error); }
